._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache/
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.npm
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.wrangler/
*.icloud
*.log
*.pid
*.pid.lock
*.seed
*.tsbuildinfo
Icon
logs
Network Trash Folder
node_modules/
pids
Temporary Items